.container {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    justify-content: space-around;
}

.product__desc {
    display: none;
    width: 400px;
    height: 280px;
    font-size: 20px;
}

.product__button {
    font-size: 26px;
}